* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    height: 100vh;
    background: #050505;
    color: white;

    overflow: hidden;
}
/* Canvas full screen */
#particles {
    position: absolute;
    inset: 0;
}
/* Hero */
.hero {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}
.hero h1 {
    font-size: 2.4rem;
    background: linear-gradient(135deg,
            rgb(76, 29, 149),
            rgb(119, 85, 170),
            rgb(167, 139, 250));
    background-clip: text;
    color: transparent;
}

.hero p {
    opacity: 0.7;
    margin: 10px 0 30px;
}

/* Magnetic button */
.magnet {
    padding: 14px 40px;
    border-radius: 30px;
    border: none;
    background: white;
    background: linear-gradient(135deg, rgb(76, 29, 149), rgb(167, 139, 250));

    font-weight: bold;
    cursor: pointer;
    color: rgb(29, 11, 29);
    position: relative;
}