* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: radial-gradient(circle at center, #0f2027, #000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    overflow: hidden;
}

h1 {
    font-size: 4rem;
    color: #00f7ff;
    display: flex;
    gap: 6px;
}

h1 span {
    opacity: 0;
    display: inline-block;
    transform: scale(0.3);
    animation: ripple 1.5s ease forwards;
}


@keyframes ripple {
    0% {
        opacity: 0;
        transform: scale(0.3);
        filter: blur(6px);
    }

    60% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
        filter: blur(0);
        opacity: 1;
    }
}